* {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    color: #796465;
    padding: 2px;
    margin: 2px;
}

body {
    background-color: #fffff3;
}

h1 {
    font-weight: 700;
    font-size: 25px;
}

table {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #D7B29D;
}

th {
    padding: 12px;
    background-color: #D7B29D;
    color: #fffff3;
}

tr:nth-child(odd) {
    background-color: #E8D2AE;
}

li:nth-child(odd) {
    background-color: #E8D2AE;
}

.banner {
    background-color: #DDE8B9;
    margin: 0;
}

#webname {
    font-size: 50px;
    color: #796465;
    background-color: #DDE8B9;
    margin: 0;
}

#copyright {
    color: rgb(81, 34, 16);
    background-color: #DDE8B9;
    font-size: 13px;
}

a {
    font-weight: 600;
    text-decoration: none;
    background-color: #dde8b900;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}