<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Isaiah Engle - Curriculum Vitae</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header class="banner">
        <h1 id="webname">isaiah engle</h1> 
        <nav class="banner"> 
            <a href="../index.html">home</a>
            <a>|</a>
            <a href="cv.html">cv</a>
            <a>|</a>
            <a href="contactme.html">contact me</a>
            <a>|</a>
            <a href="forfun.html">for fun</a>
        </nav>
    </header>
    <div class="main">
        <h1>curriculum vitae</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>East Mecklenburg High School</td>
                <td>Graduated as an IB student in 2024</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Freshman in IS</td>
            </tr>
        </table>
    </div>
    <br>
    <footer id="copyright">&copy; 2025 Webpage designed and created by Isaiah Engle</footer>
</body>
</html>