<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Isaiah Engle - For Fun name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header class="banner">
        <h1 id="webname">isaiah engle</h1> 
        <nav class="banner"> 
            <a href="../index.html">home</a>
            <a>|</a>
            <a href="cv.html">cv</a>
            <a>|</a>
            <a href="contactme.html">contact me</a>
            <a>|</a>
            <a href="forfun.html">for fun</a>
        </nav>
    </header>
    <div class="main">
        <h1>things I love to do for fun</h1>
        <button id="toggler" onclick="toggleList()">expand list</button> 
        <ul id="toggleable">
            <li>art</li>
            <li>cartography</li>
            <li>listen to music</li>
            <li>read</li>
            <li>write</li>
            <li>wikipedia deep dive</li>
        </ul>
    </div>
    <br>
    <footer id="copyright">&copy; 2025 Webpage designed and created by Isaiah Engle</footer>
</body>
</html>