<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Isaiah Engle - Contact Me</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header class="banner">
        <h1 id="webname">isaiah engle</h1> 
        <nav class="banner"> 
            <a href="../index.html">home</a>
            <a>|</a>
            <a href="cv.html">cv</a>
            <a>|</a>
            <a href="contactme.html">contact me</a>
            <a>|</a>
            <a href="forfun.html">for fun</a>
        </nav>
    </header>
    <div class="main">
        <form action="/action_page.php" method="get">
            <label for="fname">your name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="email">your email:</label>
            <input type="text" id="email" name="email"><br><br>
            <label for="content">content:</label>
            <textarea id="content" name="content" rows="7" cols="30"></textarea><br><br>
            <div></div>
            <input style="background-color: #D7B29D; outline-style: solid; outline-width: 2px; outline-color: #E8D2AE; border: 0" type="submit" value="Submit">
        </form>
        <h2>contact info</h2>
        <table>
            <tr>
                <th>platform</th>
                <th>handle</th>
            </tr>
            <tr>
                <td>email</td>
                <td>isaiahaaronengle@gmail.com</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>+1 980 271 0468</td>
            </tr>
            <tr>
                <td>instagram</td>
                <td>@byzo.the1</td>
            </tr>
        </table>
    </div>
    <br>
    <footer id="copyright">&copy; 2025 Webpage designed and created by Isaiah Engle</footer>
</body>
</html>