<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>
<body style="font-family: Arial; color:rgb(63, 44, 40); background:rgb(240, 228, 213)">
    <header style="color:rgb(63, 44, 40); background:rgb(219, 198, 170)">
        <h1>Isaiah Engle</h1> 
        <nav> 
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contactme.html">Contact Me</a>
            <a href="forfun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Home</h2>
        <form action="/action_page.php" method="get">
            <label for="fname">Your name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="email">Your Email:</label>
            <input type="text" id="email" name="email"><br><br>
            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="5" cols="45"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
        <h3>Contact Info</h3>
        <table>
            <tr>
                <th>Platform</th>
                <th>Handle</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>isaiahaaronengle@gmail.com</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>+1 980 271 0468</td>
            </tr>
            <tr>
                <td>Instagram</td>
                <td>@byzo.the1</td>
            </tr>
        </table>
    </div>
    <br>
    <footer style="color:rgb(63, 44, 40); background:rgb(219, 198, 170)">&copy; 2025 Webpage designed and created by Isaiah Engle</footer>
</body>
</html>