<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>
<body style="font-family: Arial; color:rgb(63, 44, 40); background:rgb(240, 228, 213)">
    <header style="color:rgb(63, 44, 40); background:rgb(219, 198, 170)">

        <h1>Isaiah Engle</h1> 
        <nav> 
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contactme.html">Contact Me</a>
            <a href="forfun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Art</li>
            <li>Cartography</li>
            <li>Listen to music</li>
            <li>Read</li>
            <li>Write</li>
            <li>Wikipedia deep dive</li>
        </ul>
    </div>
    <br>
    <footer style="color:rgb(63, 44, 40); background:rgb(219, 198, 170)">&copy; 2025 Webpage designed and created by Isaiah Engle</footer>
</body>
</html>